.container{
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    overflow-x: hidden;
    
}


.listContainer{
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden ;
}

.headerContent{
  display: flex;
  gap:13rem;
  padding-bottom: 3rem;
}

.buttonsHeaderContainer{
  display: flex;
  justify-items: flex-end;
}


.logoutButton{
  margin-top:1.3rem;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: transparent;
  margin-left: 2rem;
}

.logoutButton img{
  width: 2rem;
  height: 2rem;
}

.logoutButton img:hover{
  transform: scale(1.10);
}

.subtitle{
   margin-top: 1.7rem;
   margin-bottom: 1rem;
    font-family: "Manrope", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: #f0f0f0;
}

.noTasks{
  padding: 2rem;
  margin-top: 2rem;
  text-indent: 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.container::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.2rem;
}

.container::-webkit-scrollbar-track {
  background: #1C1C1C;     
}

.container::-webkit-scrollbar-thumb {
  background-color: grey;   
  border-radius: 10px;     
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;  
}
.cardTasks{
   display: flex;
   position: relative;
   width: 21.8rem;
   height: 4.3rem;
   align-items:center;
   justify-content: space-between;
   border-radius: 0.8rem;
   background-color: #1C1C1C;
   overflow-wrap:anywhere;
   margin-top: 1.2rem;
   margin-left:3%;
}

.contentContainer{
  display: flex;
  
}

.colorIndicator{
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    height: 4.3rem;
    width: 0.8rem;
}

.taskContent{
  margin-top: 5%;
}

.completedTaskContent{
    margin-top: 5%;
}

.taskContent h3{
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    margin-left: 5%;
    font-weight: 200;
    color: #f0f0f0;
}

.completedTaskContent h3{
   font-family: "Manrope", sans-serif;
   text-decoration: line-through;
   font-size: 1rem;
   margin-left: 5%;
   font-weight: 200;
   color: #555555;
}

h2{
    margin-top: 1.7rem;
    font-family: "Manrope", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f0f0f0;
}

.taskContent p{
    width: 14rem;
    height: 2rem;
    font-family: "Manrope", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: #ADADAD;
    margin-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.completedTaskContent p{
    width: 14rem;
    height: 2rem;
    text-decoration: line-through;
    font-family: "Manrope", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: #555555;
    margin-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.buttonContainer{
  position:absolute;
  bottom:1rem;
  right:0.6rem;

  cursor:pointer;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: #333333;
  color: white;
}

.concludedTasksButton{
  cursor: pointer;
  margin-top: 1.3rem;
  background-color: transparent;
  border: none;
  width: 0.7rem;
  height: 0.7rem;
}

.concludedTasksButton img{
  width: 2rem;
  height: 2rem;
}


.concludedTasksButton img:hover{
  transform: scale(1.10);
}

.tasksListButton{
  cursor: pointer;
   margin-top: 1.3rem;
  background-color: transparent;
  border: none;
  width: 0.7rem;
  height: 0.7rem;
}

.tasksListButton img{
  width: 2rem;
  height: 2rem;
}

.tasksListButton img:hover{
  transform: scale(1.10);
}

.buttonContainer img{
  padding:0.38rem;  
}

.buttonEdit{
  position:absolute;
  
  margin-left: 18rem;

  cursor:pointer;
  background-color: transparent;
  border: none;
}


.buttonEdit img{
 width: 1.2rem;
 height: 1.2rem;
}

.buttonEdit img:hover{
  transform: calc(1.05);
}

.buttonComplete{
  cursor: pointer;
  background-color: transparent;
  border:none;
  margin-right: 1rem;
}

.buttonComplete img{
 width: 1.2rem;
 height: 1.2rem;
}

.iconWrapper {
  display: inline-block;
  cursor: pointer;
}

.path {
  fill: white;
  transition: fill 0.3s ease;
}


@media (min-width: 768px) {

  .container {
    position: relative;
    top: 2rem;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50rem;
    height: 80vh;
  

    overflow-y: auto;
    overflow-x: hidden;

    border-radius: 1.4rem;
    background-color: #1a1a1a;

    display: flex;
    flex-direction: column;
    
  } 

  .listContainer{
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .headerContent{
    gap:30rem;
  }
  
  .container h2{
      margin-top: 2rem;
   }

  .subtitle{
    margin-bottom: 0.5rem;
  } 

  .buttonContainer{
  position: absolute;  
  cursor:pointer;
  bottom:1rem;
  right:1.5rem;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: #333333;
  color: white;
}

.logoutButton img:hover{
  transform: scale(1.10);
}

}