.container{
    position:fixed;
    top:0;
    width: 23rem;
    height: 100vh;
    background-color: #1A1A1A;   
    padding-right: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.exitButton{
    cursor: pointer;
    margin-top: 1.75rem;
    margin-left: 1rem;
    background: transparent;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
}

.editTaskTitle{
    margin-top: 1.75rem;
    margin-left: 1.65rem;

    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #FFFFFF;
}

.formContainer{
    margin-top: 2rem;
    margin-left: 1.65rem;
}

header{
    display: flex;
    gap: 4.5rem;
}

p{
    color:#FFFFFF;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem ;
    font-weight: 300;
}

.inputText{
    padding: 1rem;
    border: none;
    border-radius: 0.8rem ;
    width: 100%;
    height:2rem;
    background-color: #363636;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    color:#FFFFFF
}



.descriptionContainer{
    margin-top: 1rem;
}

.textAreaDescription{
    border:none;
    border-radius: 0.8rem;
    height:9rem;
    background-color:#363636 ;
    width: 100%;
    resize: none;
    margin-bottom: 1rem;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    color:#FFFFFF;
    padding: 1rem;
}

.textAreaDescription::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.2rem;
}

.textAreaDescription::-webkit-scrollbar-track {
  background: #1C1C1C;     
}

.textAreaDescription::-webkit-scrollbar-thumb {
  background-color: grey;   
  border-radius: 10px;     
}

.textAreaDescription::-webkit-scrollbar-thumb:hover {
  background: #555;  
}

.item{
    cursor: pointer;
    border:none;
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
    margin-left: 1.25rem;
}

.saveTasks{
    color: #FFFFFF;
    background-color: #000000;
    margin-left: 1rem;
    margin-top:6rem;
    border:none;
    cursor: pointer;
    width:100%;
    height: 3rem;
    border-radius: 2rem;
}

.saveTasks:hover{
    background-color: #0e0d0d;
}