.container{
    width: 23rem;
    height: 100vh;
    background-color: #1A1A1A;   
    padding-right: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.noTasks{
  margin-top: 2rem;
  text-indent: 0.6rem;
  margin-left: 2.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.container::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.2rem;
}

.container::-webkit-scrollbar-track {
  background: #1C1C1C;     
}

.container::-webkit-scrollbar-thumb {
  background-color: grey;   
  border-radius: 10px;     
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;  
}
.cardTasks{
   display: flex;
   position: relative;
   flex-wrap: wrap;
   width: 21.8rem;
   height: 4.3rem;
   border-radius: 0.8rem;
   background-color: #1C1C1C;
   overflow-wrap:anywhere;
   margin-top: 1.2rem;
   margin-left:3%;
}

.contentContainer{
  display: flex;
  
}

.colorIndicator{
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    height: 4.3rem;
    width: 0.8rem;
}

.taskContent{
  margin-top: 5%;
}

h3{
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    margin-left: 5%;
    font-weight: 200;
    color: #f0f0f0;
}

h2{
    margin-top: 1.7rem;
    margin-left: 40%;
    font-family: "Manrope", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f0f0f0;
}

.contentContainer p{
    width: 14rem;
    height: 2rem;
    font-family: "Manrope", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: #ADADAD;
    margin-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonContainer{
  bottom: 0.8rem;
  position:absolute;
  
  margin-left: 19rem;
  cursor:pointer;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: #333333;
  color: white;
}

.buttonContainer img{
  padding:0.38rem;  
}

.buttonEdit{
  position:absolute;

  margin-top: 1.3rem;
  margin-left: 19rem;

  cursor:pointer;
  background-color: transparent;
  border: none;
}

.buttonEdit img{
 width: 1.7rem;
 height: 1.7rem;
}