:root {
    font-size: 16px; 
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    position: relative;
}

body{
    overflow-y: hidden;
    background-color: #141414;
    font-family:"Manrope", sans-serif;
}

::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.2rem;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;     
}

::-webkit-scrollbar-thumb {
  background-color: grey;   
  border-radius: 10px;     
}

::-webkit-scrollbar-thumb:hover {
  background: #555;  
}